{% extends "base.html" %}

{% block title %}
    | Home
{% endblock title %}

{% block content %}
      <div class="row">
        <div class="col m8">
          <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> Registered Cases</h4>
          <div class="collection">
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            
          </div>
        </div>
        <div class="col  m4">
          <div id="list-collection">
            <div class="row">
              <div class="col m6">
                <a href="#typeModal" class="btn btn-block btn-small modal-trigger "><i class="fas fa-plus-circle"></i> Type</a>
              </div>
              <div class="col m6">
                <a href="#issueModal" class="btn btn-block btn-small modal-trigger "><i class="fas fa-plus-circle"></i> Issue</a>
              </div>
            </div>
            <div id="list">
              <ul  class="collection with-header">
                <li class="collection-header">
                  {% if caseTypes %}
                    <h5> Available Case types</h5>
                    {% for ctype in caseTypes %}
                      <li class="collection-item">{{ ctype.name }}<i class="far fa-trash-alt red-text right"></i></li>
                    {% endfor %}
                  {% else %}
                    <h5> No Available case category at the moment</h5>          
                  {% endif %}
                </li>
              </ul>            
            </div>
            <div id="list">
              <ul  class="collection with-header">
                <li class="collection-header">
                  {% if issues %}
                    <h5> Issues</h5>
                    {% for issue in issues %}
                      <li class="collection-item">{{ issue.name }}<i class="far fa-trash-alt red-text right"></i></li>
                    {% endfor %}
                  {% else %}
                    <h5> No Available case category at the moment</h5>          
                  {% endif %}
                </li>
              </ul>            
            </div>
          </div>

        </div>
      </div>

{% endblock content %}