{% extends "base.html" %}

{% block title %}
    | Home
{% endblock title %}

{% block content %}
          <div class="row">
        <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> Registered Cases</h4>
        <div class="col s12">
          <div class="collection">
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            <a href="#!" class="collection-item">
              <h6>John D. Doe <strong>( Case representation )</strong></h6> 
              <p>
                <i class="material-icons left">phone</i> 07555555 <span class="right">
                <i class="material-icons ">schedule</i> 10 mins ago</span>
              </p>
            </a>
            
          </div>
        </div>
      </div>
{% endblock content %}