{% extends "base.html" %}

{% block title %}
    | Home
{% endblock title %}

{% block content %}
{% load humanize %}
      <div class="row">
        <div class="col s12 m8">
          <div class="card-panel">
            {% if clients  %}
              <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> Registered Cases</h4>
              <table class="responsive-table highlight">
                <thead>
                  <tr>
                      <th>Full name</th>
                      <th>Purpose</th>
                      <th>Phone No</th>
                      <th>Registerd</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for client in clients %}
                    <tr>
                    <td>{{ client.first_name }} {{ client.middle_name }} {{ client.last_name }}</td>
                    <td><strong>{{ client.issue|lower }}</strong></td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.created_at|time:"TIME_FORMAT" }}</td>
                    <td><a href="{% url 'client_details' client.id %}" class="waves-effect waves-light btn btn-small">Details <i class="fas fa-angle-double-right right"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
            {% else %}
              <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> No clients at the moment</h4>  
            {% endif %}            
          </div>
        </div>
        <div class="col s12  m4">
          <div id="list-collection">
            <div class="row">
              <div class="col m6">
                <a href="#typeModal" class="btn btn-block btn-small modal-trigger "><i class="fas fa-plus-circle"></i> Type</a>
              </div>
              <div class="col m6">
                <a href="#issueModal" class="btn btn-block btn-small modal-trigger "><i class="fas fa-plus-circle"></i> Issue</a>
              </div>
            </div>
            <div id="list">
              <ul  class="collection with-header">
                <li class="collection-header">
                  {% if caseTypes %}
                    <h5> Case categories</h5>
                    {% for ctype in caseTypes %}
                      <li class="collection-item">{{ ctype.name }}</li>
                    {% endfor %}
                  {% else %}
                    <h5> No Available case category at the moment</h5>          
                  {% endif %}
                </li>
              </ul>            
            </div>
            <div id="list">
              <ul  class="collection with-header">
                <li class="collection-header">
                  {% if issues %}
                    <h5> Issues</h5>
                    {% for issue in issues %}
                      <li class="collection-item">{{ issue.name }}</li>
                    {% endfor %}
                  {% else %}
                    <h5> No Available case category at the moment</h5>          
                  {% endif %}
                </li>
              </ul>            
            </div>
          </div>

        </div>
      </div>

{% endblock content %}