      <!-- Issue modal -->
      <div id="issueModal" class="modal">
        <div class="modal-content">
          <h4 class="center">Add Issue</h4>
           <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="Case" type="text" class="validate">
                  <label for="Case">Issue name</label>
                </div>
              </div>
              <div class="input-field">
                <input type="submit" value="Save" class="btn btn-block modal-close waves-effect waves-green btn-flat">
              </div>
            </form>
        </div>
      </div>
      <!-- Case modal -->
      <div id="typeModal" class="modal">
        <div class="modal-content">
          <h4 class="center">Add Case category</h4>
           <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="Case" type="text" class="validate">
                  <label for="Case">Case category</label>
                </div>
              </div>
              <div class="input-field">
                <input type="submit" value="Save" class="btn btn-block modal-close waves-effect waves-green btn-flat">
              </div>
            </form>
        </div>
      </div>
      