{% extends "base.html" %}

{% block title %}
    | client info
{% endblock title %}

{% block content %}
<div class="container">
  
      <div class="row">
        <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> Registered Cases</h4>
        <div class="col m8 offset-m2">
          <div class="card-panel z-depth-3">
            <h5 class="center">Client Registration Form</h5>
              <div class="row">
                <form class="col s12" action="{% url 'client' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12 m4">
                      <input id="first_name" type="text" name="fname" class="validate">
                      <label >First Name</label>
                    </div>
                    <div class="input-field col s12 m4">
                      <input id="last_name" type="text" name="mname" class="validate">
                      <label >Middle Name</label>
                    </div>
                    <div class="input-field col s12 m4">
                      <input id="last_name" type="text" name="lname" class="validate">
                      <label >Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="Case" type="text" name="caseNo" class="validate">
                      <label for="Case">Case No.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="phone" type="text" name="phone" class="validate">
                      <label for="phone">Phone No.</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select required name="issueId">
                        <option value="" disabled selected>Options</option>
                         {% if issues %}
                            {% for issue in issues %}
                              <option value="{{ issue.id }}">{{ issue.name }}</option>
                            {% endfor %}
                          {%  else  %}
                            <option disabled >No Issues yet</option>
                          {% endif %}
                      </select>
                      <label>Customer Issue</label>
                     </div>
                  </div>

                  <div class="input-field">
                    <input type="submit" value="Register" class="btn btn-block">
                  </div>
                  
                </form>
              </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}