{% extends "base.html" %}

{% block title %}
    | client info
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel ">
        <div class="row">
            <h4 id="user-header" class="center text-light">User details page</h4>
          <div class="col s12 m4">
            <p class="center"><i class="fas fa-user fa-7x text-secondary"></i></p>
            <p>Full Name : <strong> Jane John Doe</strong></p>
            <p>Case No : 12/2020 <span class="new badge  green darken-2" data-badge-caption="consultance & advice"></span> </p>
            <p><i class="fas fa-phone"> </i> :   0782111111</p>
          </div>
          <div class="col s12 m8">
        <table class="highlight responsive-table">
        <thead>
          <tr>
              <th class="text-secondary">Case category</th>
              <th class="text-secondary">Versus</th>
              <th class="text-secondary">Judge / Magistrate</th>
              <th class="text-secondary">Advocate</th>
              <th class="text-secondary">Registered in</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Labour Cases</td>
            <td>Juma John said</td>
            <td>Hon: Abdul A. Bwanga</td>
            <td>Aly Kaddim</td>
            <td>12/03/2019</td>
          </tr>
          <td>Labour Cases</td>
            <td>Juma John said</td>
            <td>Hon: Abdul A. Bwanga</td>
            <td>Aly Kaddim</td>
            <td>12/03/2019</td>
          </tr>
          <td>Labour Cases</td>
            <td>Juma John said</td>
            <td>Hon: Abdul A. Bwanga</td>
            <td>Aly Kaddim</td>
            <td>12/03/2019</td>
          </tr>
          <td>Labour Cases</td>
            <td>Juma John said</td>
            <td>Hon: Abdul A. Bwanga</td>
            <td>Aly Kaddim</td>
            <td>12/03/2019</td>
          </tr>
        </tbody>
      </table>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}