{% extends "base.html" %}

{% block title %}
    | Case info
{% endblock title %}

{% block content %}
<div class="container">
      <div class="row">
        <h4 class="white-text center"><i class="fas fa-balance-scale-left"></i> Registered Cases</h4>
        <div class="col m8 offset-m2">
          <div class="card-panel z-depth-3">
            <h5 class="center">Case Registration Form</h5>
              <div class="row">
                <form class="col s12" action="{% url 'case' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s4">
                      <select name="clients" required>
                        {% if clients %}
                        <option value="" disabled selected>Clients</option>
                        {% for client in clients %}
                          <option value="{{client.id}}"> {{ client.first_name }} {{ client.middle_name }} {{ client.last_name }} </option>
                        {% endfor %}
                        {% else %}    
                        <option value="" disabled selected>No Clients so far</option>
                        {% endif %}
                      </select>
                      <label>Choose available client</label>
                     </div>
                  <div class="col s4">
                    <p class="lead center">Versus</p>
                  </div>
                    <div class="input-field col s4">
                      <input id="first_name" type="text" name="against" class="validate">
                      <label for="first_name">Full Name</label>
                    </div>
                  </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <select name="case_types" required>
                          <option value="" disabled selected>Type</option>
                          {% if caseTypes %}
                            {% for ctype in caseTypes %}
                              <option value="{{ ctype.id }}">{{ ctype.name }}</option>
                            {% endfor %}
                          {%  else  %}
                            <option disabled >No cases types yet</option>
                          {% endif %}
                          
                        </select>
                        <label>Case Type</label>
                       </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                      <input id="last_name" type="text" name="judge" class="validate">
                      <label for="last_name">Magistrate / Judge</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="advocate" type="text" name="advocate" class="validate">
                      <label for="Case">Case Advocate</label>
                    </div>
                  </div>
                  <div class="input-field">
                    <input type="submit" value="Save" class="btn btn-block">
                  </div>
                  
                </form>
              </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}